body {
	background-image: url(signup-background.jpg);
	background-size: cover;
}

.signup-container {
	margin-top: 50px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
}

input {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
}

.signup-button {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	background-color: #333333;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

.signup-button:hover {
	background-color: #4D4D4D;
}
.square {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
